

<div ui-view="page" id="page" autoscroll="false"><home-page><!-- loader -->
<!---->
<!-- data wrapper -->
<!----><section ng-if="!$ctrl.busy" class="" style="">
    <!-- Cover -->
    <div class="home-page__cover">
        <video class="home-page__cover__video" autoplay="" loop="" muted="" plays-inline="">
            <source src="https://web.gurushots.com/assets/videos/gurushots-cover-video.mp4" type="video/mp4">
        </video>
        <div class="home-page__cover__filter"></div>
        <div class="home-page__cover__wrap">
            <div class="home-page__cover__title">
                <div class="line-1">THE WORLD'S GREATEST</div>
                <div class="line-2">PHOTOGRAPHY <span>GAME</span></div>
            </div>
            <div class="home-page__cover__action">
                <div class="cover__title">Show the world your talent</div>
                <div class="cover__btn" ng-click="$ctrl.login($event)" role="button" tabindex="0">JOIN THE GAME
                </div>
            </div>
        </div>
        <div class="home-page__cover__footer">
            <div class="title">Featured in:</div>
            <img src="https://web.gurushots.com/assets/images/pages/hp/sponsors__forbes.png" alt="">
            <img src="https://web.gurushots.com/assets/images/pages/hp/sponsors__petaPixel.png" alt="">
            <img src="https://web.gurushots.com/assets/images/pages/hp/sponsors__huffington.png" alt="">
            <img src="https://web.gurushots.com/assets/images/pages/hp/sponsors__inc.png" alt="">
            <img src="https://web.gurushots.com/assets/images/pages/hp/sponsors__fstoppers.png" alt="">
        </div>

        <!-- play button -->
        <a class="link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gurushots.app&amp;hl=en">
            <img src="https://web.gurushots.com/assets/images/pages/hp/google-play.png" alt="">
        </a>
        <a class="link-2" target="_blank" href="https://app.appsflyer.com/id1111221823?pid=Internal&amp;c=WebHomePage">
            <img src="https://web.gurushots.com/assets/images/pages/hp/app-store.png" alt="">
        </a>
    </div>

    <!-- Motivated -->
    <div class="home-page__motivated">
        <div class="motivated__title">
            Challenge yourself. <span>Have fun</span>. Stay motivated.
        </div>
        <div class="motivated__text">
            Start off as a Newbie and work your way up to Guru status.
            <br>
            Gain exposure and earn badges that demonstrate your achievements.
        </div>
        <img class="motivated__awards" src="https://web.gurushots.com/assets/images/pages/hp/motivated__badges.png">
        <img class="motivated__awards--mobile" src="https://web.gurushots.com/assets/images/pages/hp/mobile/motivated__badges.png">
    </div>

    <!-- Images -->
    <div class="home-page__images">
        <div class="home-page__images__item--1"></div>
        <div class="home-page__images__item--2"></div>
        <div class="home-page__images__item--3"></div>
    </div>

    <!-- Votes -->
    <div class="home-page__votes">
        <div class="home-page__votes__title">
            Get instant feedback from <span>1 Billion</span> monthly votes
        </div>
        <div class="home-page__votes__text">
            Submit your photos to daily photo challenges and receive feedback from millions of people like you who
            simply love taking photos.
        </div>
    </div>

    <!-- Challenges -->
    <div class="home-page__challenges">
        <div class="title">NEW CHALLENGES EVERY DAY</div>
        <div class="image"></div>
    </div>

    <!-- insights -->
    <div class="home-page__insights">
        <div class="text">
            <div class="title">Receive awesome insights and improve your skills</div>
            <div class="sub-title">Experiment with your photos and find out which of them are WOW.</div>
        </div>
    </div>

    <!-- Prizes -->
    <div class="home-page__prizes">
        <div class="title">Win amazing <span>prizes</span> provided by cool Global Brands</div>
        <img class="image" src="https://web.gurushots.com/assets/images/pages/hp/prizes.jpg" alt="">
        <img class="image--mobile" src="https://web.gurushots.com/assets/images/pages/hp/mobile/prizes.jpg" alt="">
    </div>

    <!-- Sponsors -->
    <div class="home-page__sponsors">
        <img class="image" src="https://web.gurushots.com/assets/images/pages/hp/sponsors.jpg" alt="">
        <img class="image--mobile" src="https://web.gurushots.com/assets/images/pages/hp/mobile/sponsors.jpg" alt="">
    </div>

    <!-- people on  expo -->
    <img class="home-page__people-on-expo" src="https://web.gurushots.com/assets/images/pages/hp/people-on-expo.jpg" alt="">
    <img class="home-page__people-on-expo--mobile" src="https://web.gurushots.com/assets/images/pages/hp/mobile/people-on-expo.jpg" alt="">

    <!-- exhibited -->
    <div class="home-page__exhibited">
        <img class="home-page__exhibited__image" src="https://web.gurushots.com/assets/images/pages/hp/exhibited.jpg">
        <div class="home-page__exhibited__text">
            Get your photos <span>exhibited</span> in galleries around the world
            <div class="text">
                Each month hundreds of our members are exhibited in galleries and exhibition spaces around the world.
            </div>
        </div>
    </div>

    <!-- community -->
    <div class="home-page__community">
        <div class="home-page__community__title">
            Tap into a fast-growing <span>community</span> of millions of photo enthusiasts of all levels from 120+
            countries
        </div>
        <img class="home-page__community__image" src="https://web.gurushots.com/assets/images/pages/hp/community.jpg">
        <img class="home-page__community__image--mobile" src="https://web.gurushots.com/assets/images/pages/hp/mobile/community.jpg">
    </div>

    <!-- comments -->
    <div class="home-page__comments">
        <img class="home-page__comments__item--quote-left" src="https://web.gurushots.com/assets/images/pages/hp/comments_mark-left.png">
        <div class="home-page__comments__item">
            <div class="comment">“GuruShots is the best photographic challenges in the world and I'm just loving this
                **Cheers**”
            </div>
            <div class="by">Ian Popple, UK</div>
        </div>
        <div class="home-page__comments__item">
            <div class="comment">“I am completely addicted to this site it keeps me amused for hours!”</div>
            <div class="by">Wendy Oserle, UK</div>
        </div>
        <div class="home-page__comments__item">
            <div class="comment">“I think this app beats Instagram hands down. It's for people who really love
                photography.”
            </div>
            <div class="by">Garrett Green, US</div>
        </div>
        <div class="home-page__comments__item">
            <div class="comment">“I love GuruShots.<br>Ever since my friend introduced me to it, I check it 20 times a
                day.”
            </div>
            <div class="by">Law Ream, United States</div>
        </div>
        <img class="home-page__comments__item--quote-right" src="https://web.gurushots.com/assets/images/pages/hp/comments_mark-left.png">
    </div>

    <!-- app -->
    <div class="home-page__app">
        <img class="home-page__app__image" src="https://web.gurushots.com/assets/images/pages/hp/app.png">
        <div class="home-page__app__text">
            <div class="title">The best Photography Game in the World available on <span>mobile</span></div>
            <div class="text">Download our app and get the GuruShots experience anywhere, anytime</div>
            <a class="link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gurushots.app&amp;hl=en">
                <img src="https://web.gurushots.com/assets/images/pages/hp/google-play.png" alt="">
            </a>
            <a class="link" target="_blank" href="https://app.appsflyer.com/id1111221823?pid=Internal&amp;c=WebHomePage">
                <img src="https://web.gurushots.com/assets/images/pages/hp/app-store.png" alt="">
            </a>
        </div>
        <img class="home-page__app__image--mobile" src="https://web.gurushots.com/assets/images/pages/hp/app.png">
    </div>

    <!--fixed footer-->
    <div class="home-page__fix-footer">
        <div class="home-page__fix-footer__text">
            Join the world’s <span>#1 PHOTOGRAPHY GAME</span>. Have fun &amp; improve your skills. It's free!
        </div>
        <a class="home-page__fix-footer__btn gs-btn--blue" open-modal="login">
            JOIN THE GAME
        </a>
    </div>
</section><!----></home-page></div>